# Pandas を用いたデータ前処理

Pandasはデータを扱うためのライブラリです．
利用するにはインポートします．

In [ ]:
import pandas as pd

Pandasを pd インポートしているので、「pd.機能名」とすることで，Pandasライブラリを使えます．

Pandas には一次元配列のための Series と二次元配列ための DataFrame があります．

Series を利用するには pd.Series ，DataFrame を利用するには pd.DataFrame とします．

以下のようにすると，pd.Series だけでなく Series と指定することで Series が利用できます．DataFrame も同様です．

In [ ]:
from pandas import Series, DataFrame

# Series

fruits_data という　Series オブジェクトを作成します．

In [ ]:
fruits_data=pd.Series([100,120,80,50,150])

fruits_dataを出力してみます．

In [ ]:
print(fruits_data)

dtypeはデータの型です．

インデックスは要素を特定するキーのことです．Seriesオブジェクトを値だけで定義した場合．インデックスは先頭から0、1、2…のように連番が付きます．

任意の数値や文字列をインデックスにすることもできます．

In [ ]:
fruits_data=pd.Series([100,120,80,50,150], index=['apple','lemon','organge','cherry','banana'])

In [ ]:
print(fruits_data)

データの参照はインデックス数値あるいはインデックス値を用います．

In [ ]:
print(fruits_data[2])
print(fruits_data['lemon'])

# DataFrame

DataFrameオブジェクトは2次元の配列で，それぞれの列は異なるデータ型をとることができます．

In [ ]:
data = {'ID':['100','101','102','103','104'],
        'Name':['Satoshi','Akira','Yumi','Haruka','Saki'],
        'Birth_year':[1999,2000,1999,1999,2000]
               }

data_frame = DataFrame(data)

In [ ]:
print(data_frame)

print関数を利用せず表示することもできます．

In [ ]:
data_frame

特定の列だけを指定したいときは、データの後にその列名を指定します．

In [ ]:
data_frame.Name

In [ ]:
data_frame[['ID','Name']]

### loc と iloc によるデータ参照

loc はインデックス，カラム名で参照します．

In [ ]:
data_frame.loc[2,'Name']

iloc は行番号と列番号で参照します．

In [ ]:
data_frame.iloc[[0,2],2]

### データの比較と抽出

In [ ]:
data_frame['Birth_year']==2000

In [ ]:
data_frame[data_frame['Birth_year']==2000]

ある特定の列や行を削除するにはdropメソッドを利用します．axisパラメータが0なら行，1なら列を削除します．

In [ ]:
data_frame.drop(['Birth_year'], axis = 1)

このときデータの列は実際には削除されれません．オプションのinplace=Trueを指定すると，元のデータが修正されます．

In [ ]:
data_frame

In [ ]:
data_frame.drop(['Birth_year'], axis = 1,inplace=True)

In [ ]:
data_frame

### データの結合

In [ ]:
data2 = {'ID':['100','101','102','103','104'],
        'Mathematics':[60,70,55,78,80],
        'English':[80,75,88,90,72]
               }

data_frame2 = DataFrame(data2)

In [ ]:
data_frame2

In [ ]:
test_result=pd.merge(data_frame,data_frame2)

In [ ]:
test_result

In [ ]:
data3= {'ID':['105','106','107','108','109','110'],
        'Name':['Masato','Taichi','Sora','Akiko','Rika','Sora'],
        'Mathematics':[73,45,60,88,67,60],
        'English':[84,72,82,86,77,82]
               }

data_frame3 = DataFrame(data3)

In [ ]:
data_frame3

In [ ]:
test_result2=pd.merge(test_result,data_frame3,how='outer')

In [ ]:
test_result2

### 重複データの削除

In [ ]:
test_result2['Name'].duplicated()

In [ ]:
test_result2[~test_result2['Name'].duplicated()]

### 値でソート

In [ ]:
test_result2.Mathematics.sort_values()

In [ ]:
test_result2.Mathematics.sort_values(ascending=False)

### 平均値

In [ ]:
test_result2.Mathematics.mean()

## 欠損データの扱い方

In [ ]:
import numpy
from numpy import nan as NA
test_result2.iloc[4,2]=NA
test_result2.iloc[2,3]=NA
test_result2

### NaN のある行をすべて取り除く

In [ ]:
test_result2.dropna()

### Nan を０に置き換える

In [ ]:
test_result2.fillna(0)

### 前の値で埋める

In [ ]:
test_result2.fillna(method='ffill')

### 平均値で埋める

In [ ]:
test_result2.fillna(test_result2.mean())

Copyright. All rights reserved. Shuichi OHNO, 2020.